.freeze {
  pointer-events: none;
}
#memory {
  max-width: 1024px;
  max-height: 768px;
  padding: 32px 16px;
  box-sizing: border-box;
  margin: 0 auto;
}
#memory .wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(auto-fit, minmax(200px, 200px)); */
  grid-auto-rows: 1fr;
  gap: 1rem;
}
#memory .card::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

#memory .front,
#memory .back {
  pointer-events: none !important;
}

#memory .flipped .front,
#memory .flipped .back {
  filter: grayscale(1);
}

#memory footer {
  padding-top: 24px;
  text-align: center;
}
